<div class="visible-xs menu-contact">
  <div class="btn-group btn-group-justified">
    <a href="tel:+41223631100" class="btn btn-default btn-primary">
      <span class="glyphicon glyphicon-earphone"></span>
      {% if page.lang == 'en' %}
        Call now
      {% else %}
        Appeler
      {% endif %}
    </a>

    {% if page.lang == 'en' %}
      <a href="/en/contact-us.html" class="btn btn-default">Find us</a>
    {% else %}
      <a href="/fr/contact.html" class="btn btn-default">Nous trouver</a>
    {% endif %}
    </a>
  </div>
</div>
