div.container {
  max-width: 1000px;
}

/** HEADER */
div.top-header {
  margin-top: 20px;
}

div.top-header h1 {
  margin-top: 0;
}

/** CONTENT */
div.content img {
  width: 100%;
}
div.content div.team {
  margin-bottom: 20px;
}
div.content div.menu-contact {
    margin-bottom: 20px;
}

/** NAV */
a.navbar-brand {
  padding: 5px;
}
a.navbar-brand img {
  height: 40px;
}

/** FOOTER */
div.footer {
  margin: 40px 0;
}
div.footer div.change-language {
  text-align: right;
}
