h1 {
  font-size: 30px;
}

div.container {
  max-width: 1000px;
}

/** HEADER */
div.top-header {
  margin-top: 20px;
}

nav.navbar.navbar-default {
  border: none;
  background: none;
  border-bottom: 2px solid #e7e7e7;
  padding-bottom: 5px;
}

div.collapse.navbar-collapse {
    padding-left: 0;
}

/** CONTENT */
div.content h1 {
  margin: 0 0 20px 0;
}
div.content img {
  width: 100%;
}
div.content div.team {
  margin-bottom: 20px;
}
div.content div.team img {
  width: 130px;
  margin-bottom: 10px;
}

div.content div.menu-contact {
    margin-bottom: 20px;
}

/** NAV */
a.navbar-brand {
  padding: 5px;
}
a.navbar-brand img {
  height: 40px;
}

/** FOOTER */
div.footer {
  margin: 40px 0;
}
div.footer div.change-language {
  text-align: right;
}

div.footer div.social {
  text-align: center;
}
div.footer div.social a {
  margin-right: 10px;
}
div.footer div.social a:hover {
  text-decoration: none;
}
div.footer div.social a img {
  width: 25px;
}
