<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }} - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="Cabinet dentaire Barthelemy">
        <meta name="last-modified" content="{{ site.time }}">

        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:image" content="http://www.dentistebarthelemy.ch{{ 'logo-big.png' | asset_path }}">
        <meta property="og:locale" content="{{ page.lang }}" />

        {% stylesheet application %}
    </head>
    <body>
      <div id="wrap">
        <div class="header">
          <div class="container">
            <div class="row hidden-xs top-header">
              <div class="col-sm-4">
                <div class="title">
                  <a class="extra" href="/{{ page.lang }}">
                    <img src="{{ 'logo-big.png' | asset_path }}" alt="Cabinet Dentaire Barthelemy" />
                  </a>
                </div>
              </div>
              <div class="col-sm-4">
                {% include contact_header.html %}
                {% if page.lang == 'en' %}
                  <a href="/en/contact-us.html">Opening hours</a>
                {% else %}
                  <a href="/fr/contact.html">Heures d'ouverture</a>
                {% endif %}
              </div>
              <div class="col-sm-4">
                {% include address_header.html %}
              </div>
            </div>
            {% include navigation.html %}
          </div>
        </div>

        <div class="content">
          <div class="container">
            {{ content }}
          </div>
        </div>

        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-4 hidden-xs">
                <p>Cabinet dentaire Barthelemy SA © 2014</p>
              </div>
              <div class="col-md-4 social">
                <a href="https://www.facebook.com/cdbarthelemy">
                  <img src="{{ 'facebook.png' | asset_path }}" alt="Facebook" />
                </a>
                <a href="https://plus.google.com/105682578784316957350/about">
                  <img src="{{ 'googleplus.png' | asset_path }}" alt="Google+" />
                </a>
                <a href="http://www.pinterest.com/cdbarthelemy">
                  <img src="{{ 'pinterest.png' | asset_path }}" alt="Pinterest" />
                </a>
              </div>
              <div class="col-md-4 change-language">
                <a href="/en">ENG</a> | <a href="/fr">FRA</a>
              </div>
          </div>
        </div>
      </div>

      {% javascript application %}
        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47029552-1', 'dentistebarthelemy.ch');
  ga('send', 'pageview');

</script>
    </body>
</html>
