<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Custom CSS -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/app.css">

        <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    </head>
    <body>
      <div id="wrap">
        <div class="header">
          <div class="container">
            <div class="row hidden-xs top-header">
              <div class="col-sm-4">
                <h1>
                  <a class="extra" href="/{{ page.lang }}">
                    <img src="/assets/images/cabinet-dentaire-barthelemy.png" alt="Cabinet Dentaire Barthelemy" />
                  </a>
                </h1>
              </div>
              <div class="col-sm-4">
                <div>
                  T. +41 22 363 11 00<br />
                  F. +41 22 363 11 02<br />
                  {% if page.lang == 'en' %}
                    <a href="/en/contact-us.html">Opening hours</a>
                  {% else %}
                    <a href="/fr/contact.html">Heures d'ouverture</a>
                  {% endif %}
                </div>
              </div>
              <div class="col-sm-4">
                <address>
                  Rue Juste-Olivier 8<br />
                  1260 Nyon, Suisse<br />
                  <a href="mailto:mail@dentistebarthelemy.ch">mail@dentistebarthelemy.ch</a>
                </address>
              </div>
            </div>
            {% include navigation.html %}
          </div>
        </div>

        <div class="content">
          <div class="container">
            {{ content }}
          </div>
        </div>

        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-md-10">
                {% if page.lang == 'en' %}
                  {% include copyright-en.html %}
                {% else %}
                  {% include copyright-fr.html %}
                {% endif %}
              </div>
              <div class="col-md-2 change-language">
                <a href="/en">ENG</a> | <a href="/fr">FRA</a>
              </div>
          </div>
        </div>
      </div>
    </body>
</html>
