<!DOCTYPE html>
<html lang="{{ page.lang }}">
    <head>
        <meta charset="utf-8">
        <title>{{ site.name }} - {{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ page.description }}">
        <meta name="author" content="Cabinet dentaire Barthelemy">

        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:image" content="http://www.dentistebarthelemy.ch{{ 'logo-big.png' | asset_path }}">
        <meta property="og:locale" content="{{ page.lang }}">

        <link rel="shortcut icon" href="{{ 'favicon.ico' | asset_path }}" type="image/x-icon">
        <link rel="icon" href="{{ 'favicon.ico' | asset_path }}" type="image/x-icon">

        {% stylesheet application %}
    </head>
    <body data-version="{{ site.time | date_to_xmlschema }}">
      <div id="wrap" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="header">
          <div class="container">
            <div class="row hidden-xs top-header">
              <div class="col-sm-4">
                <div class="title">
                  <a class="extra" href="/{{ page.lang }}">
                    <img src="{{ 'logo-big.png' | asset_path }}" alt="Cabinet Dentaire Barthelemy" itemprop="logo" />
                  </a>
                </div>
              </div>
              <div class="col-sm-4">
                {% include phone.html %}
                {% if page.lang == 'en' %}
                  <a href="/en/contact-us.html">Opening hours</a>
                {% else %}
                  <a href="/fr/contact.html">Heures d'ouverture</a>
                {% endif %}
              </div>
              <div class="col-sm-4">
                {% include address.html %}
              </div>
            </div>
            {% include navigation.html %}
          </div>
        </div>

        <div class="content">
          <div class="container">
            {{ content }}
          </div>
        </div>

        <div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-xs-4">
                <p><span class="hidden-xs">{{ site.name }}</span> © 2014</p>
              </div>

              <div class="col-xs-4 social">
                <a href="https://www.facebook.com/cdbarthelemy">
                  <img src="{{ 'facebook.png' | asset_path }}" alt="Facebook" />
                </a>
                <a href="https://plus.google.com/105682578784316957350/about">
                  <img src="{{ 'googleplus.png' | asset_path }}" alt="Google+" />
                </a>
                <a href="http://www.pinterest.com/cdbarthelemy">
                  <img src="{{ 'pinterest.png' | asset_path }}" alt="Pinterest" />
                </a>
              </div>
              <div class="col-xs-4 change-language">
                <a href="/en">ENG</a> | <a href="/fr">FRA</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% javascript application %}
    </body>
</html>
